.demo-pricing {
	margin-top: 10px;
	margin-right: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.demo-pricing:active {
	padding-top: 15px;
        margin-bottom: -1px;
}
.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.demo-pricing-1 {
	background-color: #2e52a9;
	box-shadow: 0px 3px 0px 0px #fff;
}
.demo-pricing-1:hover {
	background-color: #1baae3;
}
.demo-pricing-1:active {
	box-shadow: 0px 1px 0px 0px #fff;
}