.jb-block {
	border: 1px solid #D4D0D6;
	border-bottom: 3px solid #2d52a9;
	padding-bottom: 10px;
}

.jb-block img.img-circle{
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
}

.jb-block h2 {
	float: left;
}

.jb-block a{
	float: right;
}

.jb-position {
	background-color: #FFF;
	margin: 20px 10px;
	padding: 10px 10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.jb-position ul.share-buttons li a img {
	margin: 5px;
}

.jb-position ul.share-buttons li a {
	float: left;
}

.btn-circle.btn-lg {
  	width: 60px;
  	height: 60px;
  	padding: 6px 10px;
  	font-size: 25px;
  	line-height: 2;
  	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
  	margin-top: 8px;
}

.small-icon {
	width: 20px;
	height: 20px;
}

.bottom-border-gray {
	border-bottom: 1px solid #D4D0D6;
}